header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2ecc71;
    text-align: center;
    line-height: 40px;
}

h1 {
    color: black;
    font-size: 20px;
}

h1:hover {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
}

a {
    font-size: 20px;
    list-style: none;
    width: 200px;
    color: black;
    text-align: center;
}

a:hover {
    cursor: pointer;
}
