header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 30px;
    outline: 1px solid rgb(173, 172, 172);
    background-color: #75eea7 ;
}

h1 {
    color: white;
    font-size: 18px;
    width: 200px;
    margin: 10px;
    border-radius: 2px;
}

h1:hover {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
}

a {
    font-size: 16px;
    width: 150px;
    color: white;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

a:hover {
    cursor: pointer;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
