<button class="printBtn" [useExistingCss]="true" printSectionId="print-section" ngxPrint>Print</button>

<div *ngFor="let character of Characters; let i = index" class="myProfileDiv" id="print-section">

    <div>
        <section class="char">
            <section class="charImgWrapper">
                <img src="{{ character.imageUrl }}" alt="" />
            </section>

            <section class="charTextWrapper">
                <h3 id="name"><strong>{{ character.name }}</strong></h3>
                <p><strong>Race:</strong> {{ character.race }} </p>
                <p><strong>Class:</strong> {{ character.classDND }}</p>
                <p><strong>Alignment:</strong> {{ character.alignment }}</p>
            </section>

            <ul class="attributesLiWrapper">
                <h4> <strong>Attributes</strong></h4>
                <li> <strong> Strenght: </strong> {{ character.str }}</li>
                <li> <strong> Dexterity: </strong> {{ character.dex }}</li>
                <li> <strong> Constitution: </strong> {{ character.con }}</li>
                <li> <strong> Intelligence: </strong> {{ character.int }}</li>
                <li> <strong> Wisdom: </strong> {{ character.wis }}</li>
                <li> <strong> Charisma: </strong> {{ character.cha }}</li>
            </ul>
        </section>

        <section>
            <button class="btn" (click)="deleteCharacter(character)">Delete Character</button>
        </section>

        <section class="charDetailsWrapper">
            <p><strong>Description: </strong>{{ character.desc }}</p>
            <p><strong>Features & Traits: </strong>{{ character.features }}</p>
        </section>
    </div>



</div>