.printBtn {
    position: relative;
    margin: 10px 750px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    background-color: #ff9100 !important;
    background:
    radial-gradient(farthest-side, transparent calc(100% - 150px), #006eff 0) 
    center /var(--d, 600px) var(--d, 600px) no-repeat;
    transition: 0.5s;
}

.printBtn:hover {
    cursor: pointer;
    background-color: #006eff;
    --d: 300px;
}

.myProfileDiv {
    color: rgb(37, 37, 37);
    background-color: rgb(230, 227, 227);
    width: 750px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 3px;
    margin: 20px auto;
}

.char {
    display: flex;
    align-content: space-between;
    height: 180px;
}

.charTextWrapper {
    width: 190px;
    margin: 10px;
    z-index: 0;
}
.charTextWrapper p {
    margin-top: 10px;
}

.charImgWrapper img {
    width: 250px;
    height: 160px;
    margin: 5px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 3px;
}

.attributesLiWrapper {
    margin: 5px 20px;
    width: 250px;
}

.charDetailsWrapper {
    display: flex;
    font-size: 12px;
}

.charDetailsWrapper p {
    width: 400px;
    margin: 0px 10px;
}

.btn {
    position: relative;
    bottom: 150px;
    left: 620px;
    font-size: 14px;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
    color: rgb(75, 75, 75);
}

.btn:hover {
    cursor: pointer;

}

@media print {

}