div {
    position: relative;
    margin: auto;
    top: 100px;
    width: 600px;
    height: 300px;
    border: 2px solid silver;
    border-radius: 4px;
    padding: 30px 30px 0px 30px;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

form input {
    background-color: white;
    font-size: 14px;
    height: 30px;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
}

.loginBtn {
    font-size: 16px !important;
    color: black;
    width: 250px;
    position: relative;
    left: 175px;
    border-radius: 4px;
}

.loginBtn :hover {
    cursor: pointer;
}