.homeDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
    height: 600px;
    width: 700px;
    padding: 10px;
    position: relative;
    margin: auto;
}

p {
    margin-top: 10px;
    color: white;
}

ul {
    display: flex;
    z-index: 0;
    list-style: none;
}

li {
    width: 550px;
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: #242526;
    border: 1px solid rgb(92, 92, 92);
}

.mapDiv {
    overflow: visible;
    z-index: 1;
}

.map {
    width: 700px;
    border: 1px solid silver;
    transition: 0.4s;
}

.map:hover {
    transform: scale(1.3);
}

h1 {
    font-size: 16px;
    color: whitesmoke;

    border-radius: 5px;
    padding: 10px;
}

h1:hover {
    cursor: pointer;
}