.advDiv {
    color: silver;
}

.adventure {
    width: 750px;
    height: 200px;
    display: flex;
    align-content: space-between;
    border: 2px solid silver;
    border-radius: 3px;
    margin: 20px auto;
}

.textWrapper {
    margin: 20px;
    z-index: 0;
    font-size: 14px;
}

.textWrapper p {
    margin-top: 5px;
}

.imgWrapper img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

h3 {
    font-size: 16px;
    font-style: bold;
}