<div>
    <p>Select a Realm to begin your adventure</p>
    <section class="charCreatorRealms">
        <section class="charCreatorRealmsOne">
            <img
                src="https://i.imgur.com/Q63VqRV.gif"
                alt=""
                class="gif" />
            <p><strong>Astarian</strong></p>
        </section>
        <section class="charCreatorRealmsTwo">
            <img
                src="https://i.imgur.com/psnUA8V.gif"
                alt=""
                class="gif"/>
            <p><strong>Irian</strong></p>
        </section>
    </section>
</div>
