@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

body {
    font-family: 'IM Fell DW Pica', serif;
    background-color: #EEF0F1;
}

* {
    margin: 0;
    padding: 0;
}